// based color palette:
// https://material.io/guidelines/style/color.html#color-color-palette

@import '../../../../../../.cache/wal/colors.scss';

$black: $color0;
$blackbold: $color8;
$red: $color1;
$redbold: $color9;
$green: $color2;
$greenbold: $color10;
$yellow: $color3;
$yellowbold: $color11;
$blue: $color4;
$bluebold: $color12;
$magenta: $color5;
$magentabold: $color13;
$cyan: $color6;
$cyanbold: $color14;
$white: $color7;
$whitebold: $color15;

$pink: mix($red, $white, 90%);
$purple: $magenta;
$orange: mix($redbold, $yellowbold, 50%);
$deep_orange: mix($red, $yellow, 50%);
$grey: mix($black, $white, 50%);
$blue_grey: mix($blue, $grey, 50%);
